<section class="custom-form-container">
    <form class="form-horizontal">
        <div class = "form-group">

            <label for="inputName" class="control-label col-xs-2">First Name</label>
            <div class = "col-xs-10">
                <input type = "text" class="form-control transparent-input" id="inputName" placeholder="Name">
            </div>
        </div>
        <br>
        <div class = "form-group">
            <label for="inputLast" class="control-label col-xs-2">Last Name</label>
            <div class = "col-xs-10">
                <input type = "text" class="form-control transparent-input" id="inputLast" placeholder="Name">
            </div>
        </div>
        <br>
        <div class="form-group">
            <label for="inputEmail" class="control-label col-xs-2">Email</label>
            <div class="col-xs-10">
                <input type="email" class="form-control transparent-input" id="inputEmail" placeholder="Email">
            </div>
        </div>
        <br>
        <div class="form-group">
            <label for="inputPassword" class="control-label col-xs-2">Password</label>
            <div class="col-xs-10">
                <input type="password" class="form-control transparent-input" id="inputPassword" placeholder="Password">
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-5">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>
    </form>
</section>